.flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: column;
}
.inputHeader{
  width: 60%;
  justify-content: space-between;
  margin: 1rem 0;
}
.inputHeader input{
  width: 78%;
  min-height: 2rem;
  border: none;
  border-radius: 15px;
  padding-left: 1rem;
  outline: none;
}